@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100vh;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
}

#fundo-piano{
    border-radius: 10px;
    background-color: black;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#options{
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-size: 1.2em;
}

#select-show{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.back-show{
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 20px;
    border-radius: 10px;
    padding: 3px;
    border: 2px solid white;
}

.circle-show{
    background-color: white;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.circle-active{
    background-color: black;
}

.back-active{
    border: 0;
    background-color: white;
    justify-content: end;
}

#teclas-piano{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 220px;
    display: flex;
    padding: 20px;
    user-select: none;
}

#teclas-piano span{
    padding: 10px;
    display: none;
}

.branca{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.662);
    display: flex;
    align-items: end;
    justify-content: center;

    flex-grow: 1;
    margin-bottom: 15px;
    background-color: white;
    width: 60px;
    height: 100%;
    border-radius: 0 0 5px 5px;
    margin-left: -8px;
    z-index: 1;
    border-bottom: 5px solid rgba(0, 0, 0, 0.303);
}

.preta{
    display: flex;
    align-items: end;
    justify-content: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.662);

    background: linear-gradient(rgb(0, 0, 0), rgb(41, 41, 41));
    width: 40px;
    height: 60%;
    margin-left: -20px;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.303);
}

#teclas-piano .branca:nth-child(1){
    margin-left: 0;
}
#teclas-piano .branca:nth-child(5){
    margin-right: 10px;
}
#teclas-piano .branca:nth-child(12){
    margin-right: 10px;
}
#teclas-piano .branca:nth-child(17){
    margin-right: 10px;
}

.branca-click{
    background-color: rgb(170, 170, 170);
}

.preta-click{
    background: linear-gradient(rgb(41, 41, 41), rgb(0, 0, 0));
    height: 59%;
    border: 0;
}